
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');


section:nth-child(odd){
  background-color: grey;
}
section:nth-child(even){
  background-color: silver;
}



html, body{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin:0;
  padding:0;
}

h1{
  font-size: 3.5rem;
}

header{
  height:88px;
  background:white;
}

header nav{
  background-color: #464838;
}

header nav button span{
  color:white;
}

section#hero{
  height:100vh;
  background-color: white;
  position:relative;
  overflow:hidden;
}

section#hero .layer{
  background-size: cover;
  background-position: bottom center;
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
}

section#hero .layer_1{
  background-image: url('../imgs/hero/layer_1.png');
  z-index:1;
}

section#hero .layer_2{
  background-image: url('../imgs/hero/layer_2.png');
  z-index:2;
}

section#hero .layer_3{
  background-image: url('../imgs/hero/layer_3_200.png');
  z-index:3;
  width: 200%;
  background-size: cover;
  -webkit-animation: movingclouds 25s linear infinite;
	-moz-animation: movingclouds 25s linear infinite;
	-o-animation: movingclouds 25s linear infinite;
}

@keyframes movingclouds {
	0% {margin-left: 0%;}
	100% {margin-left: -100%;}
}

section#hero .layer_4{
  background-image: url('../imgs/hero/layer_4.png');
  z-index:4;
}

section#hero .layer_5{
  background-image: url('../imgs/hero/layer_5.png');
  z-index:5;
}

.animate__animated.animate__shakeX {
  --animate-duration: 15s;
}





section#whyus{
  background-color:white;
}

section#whyus{
  background-color:white;
}

section#whyus .icon span{
  color:#CECECE;
  font-size:44px;
  font-weight:bold;
  line-height:54px;
  vertical-align: middle;
}

section#whyus h4{
  color:#949494;
  font-size:24px;
  font-weight:bold;
}

section#whyus .content .left:before{
  content: "";
  position: absolute;
  top: 0px;
  right: -0.625px;
  transform:translate(50%,-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #B8D432;
  mix-blend-mode:darken;
}

section#whyus .content .left:after{
  content: "";
  position: absolute;
  bottom: 0px;
  right: -0.625px;
  transform:translate(50%,0%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #B8D432;
  mix-blend-mode:darken;
}

section#whyus .content .same-height{
  min-height:300px;
}

section#whyus .content .empty{
  min-height:150px;
}

section#getstarted {
  height: 100vh;
  background-color: #ffffff;
  background-image: url("../imgs/getstarted.png") ;
  background-repeat: no-repeat;
  background-size: cover;
}
h2.get2 {
  color: #242C35;
}
.btn-success {
  background-color: #B8D432;
  font-size: 15px;
  color: #464838;
  border: none;
}
.btn-danger{
  font-size: 15px;
  color: #ffffff;
  border: none;

}

section#insight {
  height: 110vh;
  background-color: #292929;
  background-image: url("../imgs/insight_dot_map.png") ;
  background-position: center;
  background-attachment: cover;
}

section#insight .row {
  display: block;
  padding-top: 7em;
  padding-right: 5em;
  padding-left: 5em;
  size: 70;
}


#whyclients {
  height: 100vh;
  background-color: #ffffff;
  background-image: url("../imgs/truck.png");
  background-size: cover;
  padding: 5rem 5rem 5rem 30rem;
}
#whyclients .btn-primary{
  background-color: #B8D432;
  color:#464838;
  font-weight: bold;
  font-size:15px;
  margin-top: 35px;
  padding: 10px 35px 10px 35px;
  position: left;

}

section#blog {
  height: 150vh;
  background-color: #ffffff;
}
section#blog .btn-dark {
  background-color:#464838;
}


#ourclients {
  background-color: #ffffff;
  padding-right: 15em;
  padding-left: 15em;
}


h2.a {
  color: #242C35;
}

.center {
  display: block;
  margin:auto;
  width: 190px;
  height: 190px;
}
#logos {
  opacity: 0.5;
}

section#blog {
  height: 110vh;
  background-color: #ffffff;

}

section#blog .card-deck {
  padding-left: 15em;
  padding-right: 15em;
}

section#news {
  height: 110vh;
  background-color: #ffffff;

}
section#ourteam {
  background-color: #464838;

}
#contact {
  background-color: #464838;
}

#name, #email, #website, #phonenumber, #business, #message {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline:none;
  box-shadow:none;
  font-size: 15px;
  font-weight:light;
  color: white
}

form {
  padding-left: 100px;
  padding-right: 100px;
}
#contact .btn.btn-primary{
  background-color: #B8D432;
  color:white;
  font-weight: bold;
  font-size:15px;
  margin-top: 35px;
  padding: 10px 25px 10px 25px;
}

section .contact1{
  color: #B8D432;
}

section h2{
  font-size:60px;
  line-height: 1.2;
}
section h2 small{
  font-size:20px;
  line-height:1.5;
}



section#ouraddress{
  background-color: white;

}

section#ouraddress #map{
  height: 650px;
}



footer{
  background-color: #313131;
  font-size: 14px;
  font-weight:light;
  line-height:1.8;
}

footer h6{
  font-weight:bold;
  font-size: 16px;
}

footer h6 span{
  color: #B9D500;
}

footer .social{
  font-size:1.3em;
}

footer form .btn.btn-primary{
  background-color: #B8D432;
  color:white;
  font-size:1em;
}

footer form .form-control{
  font-size:1em;
}
